.wholebody{
    margin: 0% 0%;
    padding: 0%;
}
.borderForm{
    border: solid 20px black;
    margin: 15% 30%;
    padding: 5%;
    opacity: 80%;
    background-color: rgba(141, 191, 223, 0.7);
}

.bground{
    background-color: black;
    background-color:rgb(40, 166, 245);
    padding:0;
    margin:0;
}


.subDiv1{
    margin: 15% 5%;
    padding: 2%;
    opacity: 80%;
    background-color: rgba(141, 191, 223, 0.7);
    border: solid 20px black;

}

.subDiv1 h1{
    text-align: center;

}

.section1{
    text-align: center;
}

.button1{
    display: flex;
    align-items: center;
}

.textarea{
        float: inline-end;
        width: 95%;
        min-height: 75px;
}

.Div1{
    border: solid 10px black;
    margin: 15% 5%;
    padding: 5%;
    opacity: 80%;
    background-color: rgba(141, 191, 223, 0.7);
}

.Div1 h1{
    text-align: center;
}