.wholebody{
    margin: 0% 0%;
    padding: 0%;
}

.borderForm{
    border: solid 20px black;
    margin: 5% 30%;
    padding: 5%;
    opacity: 80%;
    background-color: rgba(141, 191, 223, 0.7);
}

.section1{
    text-align: center;
}

.button1{
    display: flex;
    align-items: center;
}

.textarea{
        float: inline-end;
        width: 95%;
        min-height: 75px;
}

h1{
    text-align: center;
}